html, body {
    height: 100%;
    width: 100%;
    background-image: url('FondoPrincipal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#input-container {
    text-align: center;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#pokemon-number {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#fetch-pokemon {
    padding: 5px 20px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#pokemon-container {
    margin-top: auto;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.ui.card {
    margin: 10px;
    text-align: center;
    padding: 20px;
    border-radius: 30px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.ui.card h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: bold;
    text-shadow:
        -1.5px -1.5px 0 #000,  
        1.5px -1.5px 0 #000,
        -1.5px  1.5px 0 #000,
        1.5px  1.5px 0 #000; 
}

.ui.card p {
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: bold;
    text-shadow:
        -1.5px -1.5px 0 #000,  
         1.5px -1.5px 0 #000,
        -1.5px  1.5px 0 #000,
         1.5px  1.5px 0 #000;
}

.ui.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.ui.error.message {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.ui.card.normal {
    background-color: #A8A878;
}

.ui.card.fighting {
    background-color: #C03028;
}

.ui.card.flying {
    background-color: #A890F0;
}

.ui.card.poison {
    background-color: #A040A0;
}

.ui.card.ground {
    background-color: #E0C068;
}

.ui.card.rock {
    background-color: #B8A038;
}

.ui.card.bug {
    background-color: #A8B820;
}

.ui.card.ghost {
    background-color: #705898;
}

.ui.card.steel {
    background-color: #B8B8D0;
}

.ui.card.fire {
    background-color: #F08030;
}

.ui.card.water {
    background-color: #6890F0;
}

.ui.card.grass {
    background-color: #78C850;
}

.ui.card.electric {
    background-color: #F8D030;
}

.ui.card.psychic {
    background-color: #F85888;
}

.ui.card.ice {
    background-color: #98D8D8;
}

.ui.card.dragon {
    background-color: #7038F8;
}

.ui.card.dark {
    background-color: #705848;
}

.ui.card.fairy {
    background-color: #EE99AC;
}
